@import "common/variables";
@import "common/mixin";

.p-intro {
    padding: rem(45px) 0 rem(85px);
    display: flex;
    justify-content: space-between;

    &__img {
        width: rem(547px);
    }

    &__meta {
        color: #444;
        line-height: rem(26px);
        width: rem(660px);
        padding-top: rem(83px);
    }

    &__txt {
        margin-top: rem(21px);
    }
}
.p-cate{
    padding-bottom: rem(80px);
    &-grid{
        margin-top: rem(40px);
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: rem(47px) rem(30px);
        .cate-item
        {
            text-align: center;
            display: block;
            &:hover{
                h3{
                    color:$primary;
                }
                img{
                   box-shadow: 0 rem(4px) rem(15px) rgb(0 0 0 / 8%);
                }
            } 
            img{
                height: rem(253px);
                transition: all 0.3s;
            }
            &__ttl{
                margin-top: rem(16px);
                font-size: rem(22px);
                font-weight: 600;
                color: #222;
            }
        }
    }
}
.p-trending{
    background: $primary;
    padding: rem(90px) 0 rem(76px);
  
    .container{
        max-width: 100%;

    }
    &__sub{
        font-size: rem(18px);
        line-height: calc(26/18);
        color:#fff;
        margin-top: rem(24px);
        margin-bottom: rem(50px);
    }
    &-grid{
        display: flex;
        justify-self: center;
        gap: rem(33px);
       
    }
}
.p-lasted{
    padding: rem(113px) 0 rem(95px);
    &.pad-top{
        padding-top: 0;
    }
    &__sub{
        margin: rem(27px) 0 rem(36px);
        font-size: rem(18px);
        line-height: calc(26/18);
        color:#444;
    }
    .container{
        max-width: 100%;
    }
}
.p-about{
    position: relative;
    padding: rem(108px) 0 rem(97px);
    &:before{
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        background-image: linear-gradient(#F3F2E1, transparent);
        width: 100%;
        height: rem(902px);
        z-index: -1;
    }
    &__des{
        font-size: rem(18px);
        color: #444;
        line-height: calc(26/18);
    }
    &__ttl{
        margin-top: rem(26px);
        font-weight: bold;
        font-size: rem(25px);
        color: #000;
        line-height: 2;
    }
    .mrg-top
    {
        margin-top: rem(26px);
    }
}
.p-feature{
    padding-bottom: rem(106px);
    &__sub{
        font-size: rem(18px);
        color: #444;
        line-height: calc(26/18);
        margin-top: rem(26px);
    }
    &-grid{
        display: flex;
        gap: rem(14px) rem(20px);
        flex-wrap: wrap;
        margin: rem(26px) 0 rem(40px);
        justify-content: center;
        .feature-item{
            background-image: linear-gradient(#F3F2E1, #FFFEF5);
            border-radius: rem(12px);
            padding: rem(34px) rem(22px);
            width: calc(20% - rem(16px));
            &__img{
                width: rem(55px);
            }
            &__ttl{
                font-weight: bold;
                font-size: rem(22px);
                color: #222;
                margin: rem(16px) 0 rem(20px);
                line-height: 1.28;
            }
            &__txt{
                font-size: rem(16px);
                color: #444;
                line-height: calc(20/16);
            }
        }
    }
}
