.ttl02{
    color:#000;
    font-size: rem(45px);
    font-weight: bold;
    line-height: 1;
    .primary{
        color: $primary;
    }
}
.txt-center{
    text-align: center;
}
.cl-white{
    color: #fff;
}
